sudo: false

dist: xenial

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

matrix:
  allow_failures:
    - php: nightly
  include:
    - php: "5.5"
      dist: trusty
    - php: "5.5"
      dist: trusty

before_script:
  - PHP_VERSION=$(php -r 'echo phpversion();')
  - echo $PHP_VERSION
  - echo $TRAVIS_PHP_VERSION
  - composer install --no-interaction
  - mkdir -p ./build

script:
  - composer cover
  - composer check-style

after_script:
  - composer coveralls
