sudo: false

dist: xenial

language: php

php:
  - 7.3
  - 7.4
  - 8.0
  - 8.1

before_script:
  - PHP_VERSION=$(php -r 'echo phpversion();')
  - echo $PHP_VERSION
  - echo $TRAVIS_PHP_VERSION
  - composer install --no-interaction
  - mkdir -p ./build

script:
  - composer cover

after_script:
  - composer coveralls
